.loginPageDesign{
  background-color: teal;
  background-image: url("https://cdn.dribbble.com/users/3330776/screenshots/7040517/link_4x.jpg");
  padding: 20px;
  max-width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}